<div class="about">
  <mat-card appearance="outlined" class="card">
    <mat-card-header>
      <mat-card-title> Sofiia Tsepotan </mat-card-title>
      <mat-card-subtitle> Frontend • Illustration</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img [src]="'images/img-about/avatar_sofiia.jpeg'" />
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://www.linkedin.com/in/stsepotan/">
        Learn More
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="outlined" class="card">
    <mat-card-header>
      <mat-card-title> Sophie Wang </mat-card-title>
      <mat-card-subtitle> Frontend • Backend • OpenAi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img [src]="'images/img-about/avatar_sophie.jpeg'" />
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://github.com/sophieynw"> Learn More </a>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="outlined" class="card">
    <mat-card-header>
      <mat-card-title> Robert Fleming </mat-card-title>
      <mat-card-subtitle> Backend • Proplexity </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img [src]="'images/img-about/avatar_robert.png'" />
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://www.linkedin.com/in/robert-t-fleming/">
        Learn More
      </a>
    </mat-card-actions>
  </mat-card>
</div>
