<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [mode]="'side'" [opened]="false">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="sidenav.close()"
        >Home</a
      >
      <a
        mat-list-item
        routerLink="/profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="sidenav.close()"
        >Profile</a
      >
      <a
        mat-list-item
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="sidenav.close()"
        >About</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>